# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Ignore large raw datasets, but keep sample CSV for lab demonstration
data/raw/*
!data/raw/passengers.csv


data/*.xlsx
data/*.json

# Reports generated automatically
reports/figures/*.png
reports/figures/*.jpg
reports/figures/*.html

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/